<!DOCTYPE html>
<html lang="en">
    <% include ../partials/header %>
<body>
<% include ../partials/nav %>
<header class="landing-hero">
    <div class="hero">
        <div class="hero-header">
          <h1 class="Campout"><i class="fa fa-fire"></i>Campout</h1>
            <h4>Some subtext for content</h4>
            <div class="hero-button">
                <a href="/campgrounds" class="explore btn btn-primary btn-lg">Get Exploring</a>
            </div>
        </div>
    </div>
</header>
<div class="container">
  <div class="content">
      <div class="row">
          <div class="col-lg-4">
              <div class="card" >
                  <img class="card-img-top" src="/images/nathan-anderson-111072-unsplash.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
          </div>
          <div class="col-lg-4">
              <div class="card">
                  <img class="card-img-top" src="/images/nathan-anderson-111072-unsplash.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
          </div>
          <div class="col-lg-4">
              <div class="card">
                  <img class="card-img-top" src="/images/nathan-anderson-111072-unsplash.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
          </div>
        </div>
  </div>
</div>

<div class="landing-main">
    <article>
        <h5>Somehting</h5>
        <p>something something</p>
            <a href="..." class="btn btn-primary btn-sm">Click Here</a>
    </article>
    </div>


<% include ../partials/footer %>
<% include ../partials/scripts %>
</body>
</html>
